DATABASE_USER={{ awx_pg_username }}
DATABASE_NAME={{ awx_pg_database }}
DATABASE_HOST={{ awx_pg_hostname }}
DATABASE_PORT={{ awx_pg_port }}
DATABASE_PASSWORD={{ awx_pg_password | quote }}
MEMCACHED_HOST={{ awx_memcached_hostname }}
MEMCACHED_PORT={{ awx_memcached_port }}
